<div class="container sr-footer mb-4">
    <div class="sr-newslet py-3 text-center ">
        <div class="row">
            <div class="col-4"> </div>
            <div class="col-4">
                <h2 class=" text-center text-white my-5">Signup Our <span
                        class="text-warning fst-italic">Newsletter</span></h2>
                <input type="email" placeholder="Enter your email" class="form-control form-control-lg w-75 ">
                <button type="submit" class="btn btn-dark btn-lg w-25 sr-newsbtn">Submit</button>

            </div>
            <div class="col-4"></div>
        </div>

    </div>

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Contact</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Product</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Services</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">What We Do</a></li>
        </ul>
        <p class="text-center  text-white ">© 2023 Company, Inc</p>
    </footer>
</div>