
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/aboub.jpg" class="d-block w-100 " alt="...">
        <div class="carousel-caption d-none d-md-block mb-5 text-start sr-caption">
            <h1 class="mb-4 lh-base">About Us</h1>
            <p class="fs-5 lh-base mb-4">Sed autem laudantium dolores.</p>
            
          </div>
      </div>
      
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span> -->
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span> -->
    </button>
  </div>

  <div class="container">

  <div class="row py-5">
   <div class="col-6 ">

    <h6 class="text-start mb-4 mt-5">ABOUT US</h6>
    <h2 class=" text-start mb-4">Welcome to <span class="text-warning fst-italic">Our Store</span></h2>
<p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem <br>Ipsum has been the industry's standard dummy text 
    ever since the 1500s, when an<br> unknown printer took a galley of type and scrambled it to make a type specimen <br>book  of type and scrambled
    unknown printer took a galley of type and <br>scrambled it galley of type</p>
    <button class="btn btn-dark btn-lg">Shop Now</button>
   </div>
   <div class="col-6">

    <img src="assets/1ab.jpg" class="sr-abt img-fluid" alt="">
   </div>

 </div>

 <div class="row py-5">
    <div class="col-6 ">
        <img src="assets/2ab.jpg" class="sr-abt img-fluid" alt="">
     
    </div>
    <div class="col-6">
        <h6 class="text-start mb-4 mt-5">ABOUT US</h6>
        <h2 class=" text-start mb-4">Welcome to <span class="text-warning fst-italic">Our Store</span></h2>
    <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem <br>Ipsum has been the industry's standard dummy text 
        ever since the 1500s, when an<br> unknown printer took a galley of type and scrambled it to make a type specimen <br>book  of type and scrambled
        unknown printer took a galley of type and <br>scrambled it galley of type</p>
        <button class="btn btn-dark btn-lg">Shop Now</button>
  
    </div>
 
  </div>


  <div class="container sr-product p-5">
    
    <h2 class=" text-center mt-2 mb-4">Meet <span class="text-warning fst-italic">Our Team</span></h2>
    <div class="produ  mt-5">
      <div class="row">
  
        <div class="col-12 col-sm-4 sr-card">
          <div class="card" style="width: 20rem;">
            <img src="assets/team1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title text-center">Walter White</h4>
              <h6 class="text-center fw-lighter">Fashion Designer</h6>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
             
            </div>
          </div>
        </div>
  
  
  
        <div class="col-12 col-sm-4 sr-card">
          <div class="card" style="width: 20rem;">
            <img src="assets/team2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">William Anderson</h5>
              <h6 class="text-center fw-lighter">Fashion Designer</h6>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
          
            </div>
          </div>
        </div>
  
  
        <div class="col-12 col-sm-4 sr-card">
          <div class="card" style="width: 20rem;">
            <img src="assets/team3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Sarah Anderson </h5>
              <h6 class="text-center fw-lighter">Fashion Designer</h6>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  </div>


  </div>