.carousel {
    margin-top: -91px;
    z-index: -1;
}
.sr-caption{
    left: 40px;
    background: #00000042;
    width: 600px;
    border-radius: 50px 0px 50px 0px;
    padding: 21px;
}
img.sr-abt {
    border-radius: 50px 0px 50px 0px;
}
.text-warning{
    color:#cc0c0c !important; 
 }
 .btn-dark {
    --bs-btn-bg: #cc0c0c;
    border: none;
}
.sr-card{
    transition: 0.3s;
}
.sr-card:hover{
    transform:  scale(1.1);
 }
 
 @media only screen and (max-width: 768px) {

    .carousel {
        margin-top: 0px;
        
    }

 }