<div class="container">

<div class="row">

<div class="col-1  col-md-2 col-lg-4"></div>

<div class="col-10  col-md-8 col-lg-4 mt-5 text-center border border-secondary rounded p-4"> 
<h3 class="mb-5">Login to your Account</h3>
<input type="email" class="form-control mb-4" placeholder="Enter your name" [(ngModel)]="email"/>
<input type="password" class="form-control mb-4" placeholder="Enter your password" [(ngModel)]="password"/>
<button class="btn btn-dark btn-lg w-100" (click)="onclicklogin()">Login</button>


</div>
<div class="col-1  col-md-2 col-lg-4"></div>

</div>

</div>