<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/contact.jpg" class="d-block w-100 " alt="...">
        <div class="carousel-caption d-none d-md-block mb-5 text-start sr-caption">
            <h1 class="mb-4 lh-base">Contact Us</h1>
            <p class="fs-5 lh-base mb-4">Sed autem laudantium dolores.</p>
            
          </div>
      </div>
      
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span> -->
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span> -->
    </button>
  </div>

  <div class="container">

    
    <h6 class="text-center mb-2 mt-5">Contact</h6>
    <h2 class=" text-center mb-4">Need help <span class="text-warning fst-italic">Contact Us</span></h2>

    <div class="row pt-5">
    <div class="col-6">
    <div class="row p-4 bg-light shadow-sm p-3 mb-5 bg-body rounded">
   <div class="col-2">
    <img src="assets/add.png"   alt="">
   </div>
   <div class="col-10">
    <h4 class="text-start">Our Address</h4>
    <p class="text-start">A108 Adam Street, New York, NY 535022 </p>

   </div>
    </div>    
    </div>
    <div class="col-6">
        <div class="row p-4 bg-light shadow-sm p-3 mb-5 bg-body rounded">
       <div class="col-2">
        <img src="assets/mail.png" alt="">
       </div>
       <div class="col-10">
        <h4 class="text-start">Email Us</h4>
        <p class="text-start">contact@example.com </p>
    
       </div>
        </div>    
        </div>
    </div>


    <div class="row mt-1">
        <div class="col-6">
        <div class="row p-4 bg-light shadow-sm p-3 mb-5 bg-body rounded">
       <div class="col-2">
        <img src="assets/phon.png"   alt="">
       </div>
       <div class="col-10">
        <h4 class="text-start">Call Us</h4>
        <p class="text-start">+1 5589 55488 55</p>
    
       </div>
        </div>    
        </div>
        <div class="col-6">
            <div class="row p-4 bg-light shadow-sm p-3 mb-5 bg-body rounded">
           <div class="col-2">
            <img src="assets/hour.png" alt="">
           </div>
           <div class="col-10">
            <h4 class="text-start">Opening Hours</h4>
            <p class="text-start"><b>Mon-Sat: </b>11AM - 23PM; <b>Sunday: </b>Closed</p>
        
           </div>
            </div>    
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row py-3 ">
     <input type="text"  class="form-control form-control-lg w-50 mb-4"  placeholder="Your name" id="">
     <input type="email" class="form-control form-control-lg w-50 mb-4" placeholder="Your email" id="">
     <input type="text" class="form-control form-control-lg w-50 mb-4" placeholder="Subject" id="">
     <input type="tel" class="form-control form-control-lg w-50 mb-4" placeholder="Phone number" id="">
     <textarea name="" class="form-control form-control-lg mb-4" placeholder="Your message" cols="10" rows="5"></textarea>
     <span class="text-center"><Button class="btn btn-dark btn-lg mb-5">Send message</Button></span>

        </div>
    </div>
    
        <div class="row">
            <div class="col-12">
<!--Google map-->
<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
      style="border:0" allowfullscreen></iframe>
  </div>
  
  <!--Google Maps-->
</div>
</div>
