<div class="m-5">
<div class="row">
<div class="col-12 col-md-8 pe-5 pb-3">

<table class="w-100 rounded-top">
<tr class="bg-dark text-white">
   <th class="ps-3 py-3 h5">Product</th> 
   <th class="px-3 h5 text-end">Price</th>
   <th class="px-3 h5 text-end">Quantity</th>
   <th class="h5 text-end pe-3">Subtotal</th>

</tr>

<tr class="bg-light">
    <th class="py-5 h6"><span><img src="/assets/beg.jpg" class="me-3 ms-3"  width="110px" height="110px" alt=""></span>Office Beg</th> 
    <th class="px-3 h6 text-end">$1200</th>
    <th class="px-3 h6 text-end"><input type="number" name="quantity" min="1" max="10"></th>
    <th class="h6 text-end pe-3">$1200</th>
 
 </tr>
</table>
<div class="bg-light py-3 border-top">
<span><button class="mx-3 btn btn-light border border-1">Coupon Code</button></span>
<span><button class="btn btn-dark">Apply Coupon</button></span>
<span><button class="float-end me-3 btn btn-dark " disabled data-bs-toggle="button" autocomplete="off">Update cart</button></span>
</div>
</div>
<div class="col-12 col-md-4  p-5 bg-light">

 <h3 class="mb-3">Cart Totals</h3> 
 <table class="w-100 border border-1">
<tr class="">
<th class="py-3 px-3">Subtotal</th>
<td class="text-end py-3 px-3">$1200</td>
</tr>
<tr class="">
<th class="py-3 px-3">Shipping</th>
<td class="py-3 px-3"></td>
</tr>
<tr class="">
    <th class="py-3 px-3">Total</th>
    <td class="text-end py-3 px-3">$1200</td>
    </tr>

 </table>  
<button class="w-100 btn btn-dark btn btn-primary btn-lg mt-3">Procced to Checkout</button>

</div>

</div>
</div>