<div class="row  px-5 mt-5">


  
    <div *ngFor="let product of productList" class="col-12 col-sm-6 col-md-4 col-lg-3 sr-product-section " >
        <div (click)="onClickproduct()" [(tabindex)]="product.id" (keypress)="onClickproduct()">
        <div class="text-center">
            <img src="/assets/beg.jpg" alt="beg"   class="w-100 w-md-75" height="200px">
        </div>
        <h4>Office Beg</h4>
        <span>♥</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div>
        <button class="btn btn-primary" [(tabindex)]="product.id">Add to Cart</button>
        <input type="number"name="quantity" class="float-end py-1 rounded" [(tabindex)]="product.id" min="1" max="10">
    </div>
    
    </div>

    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <img src="/assets/watch.jpg"  class="text-center " width="100%" height="50%">
    <h4>Men's Watch</h4>
    <span>♥</span>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <button>Add to Cart</button>

</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <img src="/assets/shirts.jpg"  class="text-center " width="100%" height="50%">
    <h4>Shirts Men</h4>
    <span>♥</span>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <button>Add to Cart</button>

</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
    <img src="/assets/shoes.jpg"  class="text-center " width="100%" height="50%">
    <h4>Men Shoes</h4>
    <span>♥</span>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <button>Add to Cart</button>

</div> -->




</div>